html,
body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #102b3f;
}
.d-none {
  display: none;
}
.d-none-visible {
  visibility: hidden;
}
input {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 2px;
}
input:hover {
  background: #b6b6b6;
}
input:disabled {
  background: dimgrey;
  color: linen;
  opacity: 1;
}
button {
  background: gray;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin: 5px 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-info {
  position: relative;
  background: #008cba;
  color: black;
}
.btn-info:hover {
  background: #01ace4;
}
.btn-info.hide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000000;
  transform: rotate(320deg);
}
.btn-warning {
  background: #e69f31;
  color: black;
}
.btn-warning:hover {
  background: #e3b873;
}
.btn-error {
  background: #f44336;
  color: black;
}
.btn-error:hover {
  background: #f38e87;
}
.btn-success {
  background: #4caf50;
  color: black;
}
.btn-success:hover {
  background: #7eae7f;
}
h1 {
  font-size: 15px;
  font-family: monospace;
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}
.add-app {
  border: none;
  margin-top: 10px;
  background: #008cba;
  margin-bottom: 2px;
}
.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.content .services {
  width: 100%;
  color: #fff;
  max-height: 300px;
  overflow: scroll;
}
.content .content-app {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.content .content-app:first-of-type {
  margin-top: 0;
}
.content .content-app .content-app-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .content-app .content-app-row img {
  width: 15px;
}
.content-create {
  width: 100%;
  margin-top: 10px;
}
.content-create-row {
  display: flex;
  flex-direction: column;
}
.save-service-button {
  background: #4caf50;
}
.cancel-service-button {
  background: #f44336;
}
.alert {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert.info {
  background: #0078cd;
}
.alert.warning {
  background: #e69f31;
}
.alert.success {
  background: #4caf50;
}
.alert.error {
  background: #f44336;
}
.alert.d-none {
  display: none;
}
.alert p {
  color: #fff;
}
